*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #4c727e6e;
    font-family: "Roboto", sans-serif;
    
}
.container {
    display: flex;
    width:800px;
    max-width: 1000px;
}
aside{
    display: flex;
    flex-direction: column;
    border-right :1px solid coral;
    padding: 20px;

}
button{
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
main{
    flex :1;
    padding: 10px 20px;
}
h2{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 0 0 20px;
}
.person{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.person > div{
    display: flex;
    align-items: center;
    
}
.person > div img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
}
.total h3{
    display: flex;
    justify-content: space-between;
}

